<div class="task-page">

  <!-- PAGE HEADER -->
  <div class="page-header">

    <div>
      <h1>Task List</h1>

      <p>
        Manage and track your assigned tasks
      </p>
    </div>

    <button
      class="add-button"
      (click)="addTask()">

      + Add Task

    </button>

  </div>


  <!-- TABLE -->
  <div class="table-card">

    <table>

      <thead>

        <tr>

          <!-- <th>ID</th> -->

          <th>Task Name</th>

          <th>Project Name</th>

          <th>Description</th>

          <th>Start Date</th>

          <th>End Date</th>

          <th>Status</th>

          <th>Priority</th>

          <th>Assigned To</th>

        </tr>

      </thead>


      <tbody>

        <tr
          *ngFor="let task of tasks"
          (dblclick)="editTask(task)">

          <!-- <td>
            {{ task.id }}
          </td> -->

          <td>
            {{ task.task_name }}
          </td>

          <td>
            {{ task.project_name }}
          </td>

          <td class="description">
            {{ task.description }}
          </td>

          <td>
            {{ task.start_date }}
          </td>

          <td>
            {{ task.end_date }}
          </td>

          <td>

            <span
              class="status"
              [ngClass]="task.status">

              {{ task.status }}

            </span>

          </td>

          <td>

            <span
              class="priority"
              [ngClass]="task.priority">

              {{ task.priority }}

            </span>

          </td>

          <td>
            {{ task.assigned_to_name}}
          </td>

        </tr>


        <!-- NO DATA -->
        <tr *ngIf="tasks.length === 0">

          <td
            colspan="9"
            class="no-data">

            No tasks found

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>